.darkSection{
    background-image: linear-gradient(180deg, #042d3a, #063c4d);
}
.heroSection{
    width: 100%;
}
._160mg{
    margin-top: -160px;
    overflow: hidden;
}
.mainSection{
    position: relative;
    display: flex;
    max-width: 1225px;
    margin-top: 260px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-bottom: 50px;
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
@media screen and (min-width: 1440px){
    .mainSection{
        margin-top: 320px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}
@media screen and (min-width: 1280px){
    .mainSection{
        margin-top: 320px;
    }
}
@media screen and (max-width: 991px){
    .mainSection{
        padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    }
}
@media screen and (max-width: 479px){
    .mainSection{
        margin-top: 230px;
    }
}
.mainSection_hero{
    position: relative;
    z-index: 1;
    width: 100%;
}
.text_center{
    text-align: center;
}
.bold{
    font-weight: 700;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 62px;
    line-height: 75px;
}
.content_wrap{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.word-wrap{
    position: relative;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.inline{
    display: inline-block;
}
.prospector_hero{
    position: relative;
    margin-top: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.hero_btn1{
    margin-right: 24px;
    padding: 20px 40px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    transition: all 350ms ease;
    border: 0;
    border-radius: 100px;
    border-color: transparent;
    box-shadow: 4px 4px 16px 0 rgb(255 210 101 / 16%);
    text-decoration: none;
    cursor: pointer;
    color: #063c4d;
    background-color: #ffd265;
}
.hero_btn2{
    padding: 20px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #dae2e3;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 hsl(0deg 0% 100% / 15%);
    transition: all 350ms ease;
    color: #063c4d;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.hero_img1{
    position: absolute;
    max-width: 100%;
    vertical-align: middle;
    left: auto;
    top: 31%;
    right: -39%;
    bottom: 0%;
}
.hero_img2{
    position: absolute;
    max-width: 100%;
    vertical-align: middle;
    left: auto;
    top: 31%;
    right: -2%;
    bottom: 0%;
    display: none;
}
@media screen and (max-width: 768px){
    .hero_img2{
        display: block;
    }
    .hero_img1{
        display: none;
    }
}
.hero_video{
    opacity: 1;
    transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-top: 100px;
    position: relative;
}
@media screen and (min-width: 1280px){
    .hero_video{
        width: 100%;
    }
}
.video_embed{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 13px 2px rgb(2 37 48 / 82%);
}
